[flake8]
ignore = W503,E501,E203,E266,E402,E231
exclude = .git,__pycache__,__init__.py,.mypy_cache,.pytest_cache,alembic/*,temp_*,venv,migrations
max-line-length = 119
max-doc-length = 119
; select = B,C,E,F,W,T4,B9
; import-order-style = pep8
